<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Docker CI/CD Test</h2>
  <h5>- database : MySQL 8.0 Docker</h5>
  <h5>- database : Redis 6 Docker</h5>
  <p>○ 개요</p>
  <ul>
    <li>도커를 통해 Mysql, Redis를 실행
    <li>CI/CD 진행 테스트</li>
    <li>Redis를 통해 서비스 하며, FailOver 시 Mysql 사용</li>
  </ul>
  <a href="/input">Input Name Page...</a>
  <br>
  <hr>
  <br>
  <h3>Name List</h3>
  <br>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>NAME</th>
    </tr>
    <tr th:each="user : ${list}">
      <th>[[ ${user.id} ]]</th>
      <th>[[ ${user.name} ]]</th>
    </tr>
  </table>
</body>
</html>